@import url('fonts.css');

/*
    Variable de couleurs
*/ 

:root {
    --brown: #FCEFD6;
    --darkblue: #027180;
    --pink: #DEA3A4;
    --blue: #7389AB;
    --green: #8BC9B5;
    --darkgreen: #9DBCAD;
    --text:#696969;
}

/*
    Globales
*/ 

body, a { 
    color: var(--text);
}

h1,h2,h3 { 
    font-family: 'Amatic';
    font-weight: normal;
}


/*
    HEADER
*/ 

header {
    width: 100vw;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
    position:relative;
    top:0;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 4rem;
}

header section img {
    max-width: 100px;
}

header form {
    border-bottom: 1px solid var(--darkblue);
}

header form button { 
    background: none;
    margin-right: auto;
}

header form button img{ 
    max-width: 25px;
}

.controlPanel { 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controlPanel li { 
    margin: 0 1rem;
}

.controlPanel li a img { 
    max-width: 25px;
    min-width: 25px;
}
nav {
    display: flex;
    justify-content: center;
}
nav ul { 
    display: flex;
    align-items: center;
}

nav ul li { 
    margin:1rem 1.5rem;
    text-align: center;

}

nav ul li a { 
    font-family: 'OpenSans-Regular';
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--text);
}

nav ul li:nth-child(even) img {
    transform: rotate(45deg);
    max-width: 25px;
}

/*
    SECTION PRODUCT
*/
.product {
    display: flex;
}

.product section:first-child {
    width: 50%;
    background-color:var(--brown);
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product section:last-child {
    width: 50%;
    background-image: url('./../img/photo/photo.jpg');
    background-size: cover;
}

.product section:first-child ul {
    display: flex; 
}

.product section:first-child ul:first-child {
    display: flex; 
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
}

.product section:first-child ul:first-child li {
    padding: 1.5rem;
}

.product section:first-child ul li a {
    font-family: 'OpenSans-Regular';
    font-size: 1rem;
}

h1,h2,h3 { 
    font-family: 'Amatic';
    font-weight: normal;
}

.product section:first-child h3 {
    font-size: 2rem;
}

.product section:first-child h1 {
    font-size: 4rem;
    letter-spacing: 6px;
}

.feuille { 
    max-width: 32px;
}

.product section:first-child p:first-of-type { 
    font-family: 'OpenSans-Regular';
    font-size: 1rem;
    text-align: center;
    word-spacing: 2px;
    width: 60%;
}

.product section:first-child p:last-of-type {
    font-family: 'OpenSans-SemiBold';
    font-size: 2rem;
    letter-spacing: 2px;
}

.product form div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product form img {
    max-width: 32px;
    max-height: 32px;
}

.product form input {
    height: 3rem;
    width: 30%;
    margin: 0 1rem;
}

























